<!DOCTYPE html>
<html>
  <head>
    <title>首页</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>

      <% data.forEach((val,index) => { %>
        
        <li id = "<%= val.id%>">
        <a href="./blog/<%=val.id%>">
           <img src="<%= val.img %>" alt="">
          <h3>
            <%= val.title%>
          </h3>
          <p><%= val.summary%></p>
        </a>
        </li>
        <% }) %>
    </ul>
    
  </body>
</html>
